<!-- ko with: home -->
<div class="jumbotron">
    <h1>GenericProxyCSharpGoogleSheets</h1>
    <p class="lead">
        This projects aims at making a single proxy to contact when using Google Sheets for storage in web projects / apps.
    </p>
    <p>The idea is to have a single entry endpoint with CRUD functionality that you as a programmer can use instead of having to go through the hazzle of setting up multiple Google Sheets with Google Apps Script.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
